.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

.bs-glyphicons li {
    float: left;
    width: 50%;
    height: 120px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    color: grey;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 50px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-size: 24px;
}

.dropzone {
    height: 170px;
    border: 5px dotted #ccc;
}

.dropzone p {
    margin: 10px;
    text-align: center
}

.footer-group {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 60px;
}

.data-icon {
    width: 100px;
    height: 100px;
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}

.header {
    text-align: center;
}

.header .glyphicon {
    font-size: 35px;
    padding-bottom: 15px
}
